<p id="notice"><%= notice %></p>

<p>
  <strong>Name of library:</strong>
  <%= @library.name_of_library %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
